body {
    margin: auto;
    width: 60%;
    font-family: Arial, Helvetica Neue, Helvetica,sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
}

h1, h2 {
    color: green;
}

h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

h2 {
    margin-bottom: 10px;
    font-size: 25px;
}

#mainBody {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

#mainBody #blogs {
    flex: 8;
    padding: 20px;
    margin-bottom: 20px;
}

#mainBody #blogs p {
    text-align: justify;
    text-align-last: left;
}

#mainBody #blogs a {
}

#mainBody #rightCol {
    flex: 3;
}

#mainBody img {
    width: 250px;
    height: 150px;
}

#rightCol p {
    margin-bottom: 40px;
}

footer {
    display: inline;
    padding-top: 20px;
    border-top: 1px solid black;
    box-sizing: border-box;
    padding-top: 20px;
}

footer p {
    font-size: 20px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

footer img {
    float: left;
    border-radius: 100px;
}